In [1]:
import pandas as pd
import scipy as sp
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import itertools

from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score


from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from datetime import datetime
from scipy import stats
from scipy.stats import boxcox
import statsmodels.tsa as smt


import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
df = pd.read_csv('average_gas_days.csv')
df
df['timestamp'] = pd.to_datetime(df['timestamp']) 
df = df.set_index('timestamp')
df.head()

                         day  average_gas_fee       avgGas
timestamp
2022-04-26 13:00:00  Tuesday           46.670  80868.51905
2022-04-26 14:00:00  Tuesday           78.150  85449.25679
2022-04-26 15:00:00  Tuesday           81.885  82192.41372
2022-04-26 16:00:00  Tuesday           67.235  82451.78680
2022-04-26 17:00:00  Tuesday           56.095  84236.44656

In [6]:
df.groupby('day').mean()
# I will organize it in order of days with new plot in the report
# Average gas fee is the lowest in sunday, and the highest in thursday
# Average gas fee is higher in weekday than weekend

           average_gas_fee         avgGas
day
Friday           33.764786   98959.241079
Monday           33.198799   99529.275558
Saturday         24.920797  105772.546678
Sunday           23.960628  107357.437352
Thursday         39.297018   98466.591227
Tuesday          35.181941   98568.640661
Wednesday        37.694451   99444.776575